
<script defer src="https://www.googletagmanager.com/gtag/js?id=AW-951540718"></script>
<script>
  var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-951540718');
  }
</script>

<!-- Google Tag Manager -->
<script>
  var _0x2796=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74"];if(navigator[_0x2796[2]][_0x2796[1]](_0x2796[0])==  -1){
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WVBTFFZ');
  }
</script>



{% comment %}
<!-- Yotpo Javascript -->
<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/nap2dXlE4l9KFthJemgh23nFY56JJGkrzEpKfcXG/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
<!-- Yotpo Javascript -->
{% endcomment %}


<!-- LiveConnectTag for advertisers -->
<script type="text/javascript" src="//b-code.liadm.com/a-068u.min.js" async="true" charset="utf-8"></script>
<!-- LiveConnectTag for advertisers -->


<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.6) -->
<script type="text/javascript">
  // Editable fields:
  var afterpay_min = 0.04;            // As per your Afterpay contract.
  var afterpay_max = 1000.00;         // As per your Afterpay contract.
  var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
  var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
  
  // Overrides:
  // var afterpay_product_selector = '#product-price-selector';
  // var afterpay_cart_integration_enabled = true;
  // var afterpay_cart_static_selector = '#cart-subtotal-selector';
  
  // Non-editable fields:
  var afterpay_shop_currency = {{ shop.currency | json }};
  var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
  var afterpay_shop_money_format = {{ shop.money_format | json }};
  var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
  var afterpay_theme_name = {{ theme.name | json }};
  
  var afterpay_product = {% if product %}{%- include 'bold-product', output: 'json' -%}{% else %}null{% endif %};
  var afterpay_current_variant = {% if product %}{{ product.selected_or_first_available_variant | json }}{% else %}null{% endif %};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
  var afterpay_js_snippet_version = '1.0.6';
</script>


<script defer type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>

{% if template contains 'rewards' or template contains 'refer' or template contains 'account' %}

  <script defer src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://cdn-widgetsrepository.yotpo.com/v1/loader/t9-vlhCmWaUMqsuuWFiouA" async></script>
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' | script_tag }}

  {{ 'swell-rewards.js' | asset_url | script_tag }}
  {{ 'swell-rewards.scss.css' | asset_url | stylesheet_tag }}

{% endif %}

<script defer type="text/javascript" src="https://intelistyle-scripts.s3.eu-west-1.amazonaws.com/clients/gamedaycouture-stylingadvice.js"></script>
<script defer type="text/javascript" src="https://intelistyle-scripts.s3.eu-west-1.amazonaws.com/clients/gamedaycouture-index.js"></script>
<script defer type="text/javascript" src="https://intelistyle-scripts.s3.eu-west-1.amazonaws.com/clients/gamedaycouture-chatbot.js"></script>