{%- if full_product -%}
  {%- assign real_product = full_product -%}
{%- else -%}
  {%- assign real_product = product -%}
{%- endif -%}

{%- if full_product -%}
  {%- assign product_id = full_product.id -%}
{%- else -%}
  {%- assign product_id = product.id -%}
{%- endif -%}

{%- if product.options_with_values -%}
  {%- assign variable_options_with_values = product.options_with_values -%}
{%- else -%}
  {%- assign variable_options_with_values = full_product.options_with_values -%}
{%- endif -%}

{%- if product.media -%}
  {%- assign variable_media = product.media -%}
{%- else -%}
  {%- assign variable_media = full_product.media -%}
{%- endif -%}

{%- if product.featured_media -%}
  {%- assign variable_featured_media = product.featured_media -%}
{%- else -%}
  {%- assign variable_featured_media = full_product.featured_media -%}
{%- endif -%}

{%- if product.vendor -%}
  {%- assign variable_vendor = product.vendor -%}
{%- else -%}
  {%- assign variable_vendor = full_product.vendor -%}
{%- endif -%}

{%- liquid
  if collection
    assign product_url = product.url 
  else
    assign product_url = product.url
  endif

  assign product_images = variable_media | where: 'media_type', 'image'
  if settings.prod_thumb_hover_image and product_images.size > 1
    assign show_hover_image = true
  else
    assign show_hover_image = false
  endif

  assign cheapest_variant = product.variants | sort: 'price' | first
  if full_product
    assign cheapest_variant = product
  endif
-%}{%- if full_product -%}{%- assign cheapest_variant = product -%}{%- endif -%}

<div data-product-id="{{ product_id }}" class="product-block" {% if animate %}data-cc-animate{% endif %}>
  <div class="block-inner">
    <div class="block-inner-inner">
      {% if variable_featured_media %}
        {%- liquid
          assign aspect_ratios_same = true
          for media in variable_media offset: 1
            if media.preview_image.aspect_ratio != variable_media.first.preview_image.aspect_ratio
              assign aspect_ratios_same = false
              break
            endif
          endfor
        -%}
        <div class="image-cont {% if show_hover_image %}image-cont--with-secondary-image {% if aspect_ratios_same %}image-cont--same-aspect-ratio{% endif %}{% endif %}">
          <a class="product-link{% if settings.quickbuy_style == 'whole' %} quickbuy-toggle{% endif %}" href="{{ product_url }}" aria-label="{{ product.title | escape }}" tabindex="-1">
            <div class="image-label-wrap">
              <div>
                {%- if show_hover_image -%}
                  <div class="product-block__image product-block__image--primary{% if variable_featured_media.id == variable_media.first.id %}{% assign active_media_found = true %} product-block__image--active{% endif %}{% if product_images.last.id == variable_featured_media.id %} product-block__image--show-on-hover{% endif %}" data-media-id="{{ variable_media.first.id }}">
                    {%- render 'responsive-image', image: variable_media.first.preview_image, manual_image_load: manual_image_load, min_aspect_ratio: 0.6, aspect_ratio: custom_aspect_ratio, no_max_width: true -%}
                  </div>
                  {%- for media in product_images offset: 1 -%}
                    {%- liquid
                      assign image_state_class = ''
                      if media.id == variable_featured_media.id
                        assign active_media_found = true
                        assign image_state_class = 'product-block__image--active'
                      else
                        if active_media_found
                          assign active_media_found = false
                          assign image_state_class = 'product-block__image--show-on-hover'
                        else
                          assign image_state_class = 'product-block__image--inactivated'
                        endif
                      endif
                    -%}
                    <div class="product-block__image product-block__image--secondary rimage-wrapper lazyload--placeholder {{ image_state_class }}"
                        data-media-id="{{ media.id }}"
                        data-image-index="{{ forloop.index }}">
                      <div class="lazyload--manual rimage-background fade-in"
                          data-lazy-bgset-src="{{ media.preview_image | img_url: 'master' }}"
                          data-lazy-bgset-aspect-ratio="{{ media.preview_image.aspect_ratio }}"
                          data-lazy-bgset-width="{{ media.preview_image.width }}"
                          data-sizes="auto"
                          data-parent-fit="contain"></div>
                    </div>
                  {%- endfor -%}
                {%- else -%}
                  <div class="product-block__image product-block__image--primary product-block__image--active" data-media-id="{{ variable_featured_media.id }}">
                    {%- render 'responsive-image', image: variable_featured_media.preview_image, manual_image_load: manual_image_load, min_aspect_ratio: 0.6, aspect_ratio: custom_aspect_ratio, no_max_width: true -%}
                  </div>
                {%- endif -%}
              </div>
              {%- if show_hover_image -%}
                {%- unless no_swiping -%}
                  <div class="product-block__image-dots" aria-hidden="true">
                    <div class="product-block__image-dot product-block__image-dot--active"></div><div class="product-block__image-dot"></div>
                    {%- if product_images.size > 2 -%}
                      <div class="product-block__image-dot product-block__image-dot--more"></div>
                    {%- endif -%}
                  </div>
                {%- endunless -%}
              {%- endif -%}
              {% render 'product-label', product: product, cheapest_variant: cheapest_variant %}
            </div>
          </a>
          {%- if show_hover_image -%}
            <a class="image-page-button image-page-button--previous" href="#" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}" tabindex="-1">{%- render 'svg-chevron-left', stroke_width: 1.3 -%}</a>
            <a class="image-page-button image-page-button--next" href="#" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}" tabindex="-1">{%- render 'svg-chevron-right', stroke_width: 1.3 -%}</a>
          {%- endif -%}

          {% if settings.quickbuy_style == 'button' %}
            <a class="btn btn--secondary quickbuy-toggle" href="{{ product_url }}">{{ 'products.quick_buy.launch' | t }}</a>
          {% endif %}
        </div>
      {% else %}
        <div class="image-cont">
          <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag }}</div>
        </div>
      {% endif %}

      <div class="product-info">
        <div class="inner">
          <div class="innerer">
            <a class="product-link{% if settings.quickbuy_style == 'whole' %} quickbuy-toggle{% endif %}" href="{{ product_url }}">
              {% if section.settings.show_vendor %}
              <div class="vendor">{{ variable_vendor }}</div>
              {% endif %}
              <div class="product-block__title">{% render 'variable-product-title', product: product, full_product: full_product %}</div>

              <div class="product-price">
                {% if product.price_varies %}
                  <span class="product-price__item product-price__from">{{ 'products.listing.from' | t }}</span>
                {% endif %}
                <span class="product-price__item product-price__amount {% if cheapest_variant.compare_at_price > cheapest_variant.price %}product-price__amount--on-sale{% endif %} theme-money">{{ cheapest_variant.price | money }}</span>
                {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
                  <span class="product-price__item product-price__compare theme-money">{{ cheapest_variant.compare_at_price | money }}</span>
                {% endif %}

                {% if settings.prod_sold_out_show and product.available == false %}
                  <span class="product-price__item price-label price-label--sold-out">{{ 'products.labels.sold_out' | t }}</span>
                {% elsif settings.prod_pre_order_label_show and product.template_suffix == 'preorder' %}
                  <span class="product-price__item price-label price-label--preorder">{{ 'products.product.preorder' | t }}</span>
                {% elsif settings.prod_sale_show and cheapest_variant.compare_at_price > cheapest_variant.price %}
                  <span class="product-price__item price-label price-label--sale">{{ 'products.labels.sale' | t }}</span>
                {% endif %}
              </div>

              {% render 'unit-price', variant: cheapest_variant %}
            </a>

            {%- if settings.prod_thumb_show_options -%}
              {%- liquid
                 assign option_limit = 3
                 assign options_to_show = settings.prod_thumb_options_names | replace: ', ', ',' | split: ','
              -%}
              {%- for product_option in variable_options_with_values -%}
                {%- if options_to_show contains product_option.name -%}
                  {%- liquid
                    if settings.swatch_enabled and settings.swatch_option_name contains product_option.name
                      assign is_swatch = true
                    else
                      assign is_swatch = false
                    endif
                  -%}
                  <div class="product-block-options{% if is_swatch %} product-block-options--swatch{% endif %}" data-option-name="{{ product_option.name | escape }}">
                    <div class="product-block-options__inner">
                      {%- if product.options.size == 1 -%}
                        {%- for variant in real_product.variants -%}
                          <span class="product-block-options__item{% unless variant.available %} product-block-options__item--unavailable{% endunless %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}"
                          data-option-item="{{ variant.title | downcase | escape }}"
                          {% if variant.featured_media %}data-media="{{ variant.featured_media.id }}"{% endif %}
                          {% if is_swatch %}{% if settings.swatch_images %}data-bgset="{{ variant.title | handle | append: '.png' | file_img_url: '48x48', crop: 'center' }}"{% else %}style="background-color:{{ variant.title | downcase | remove: ' ' | escape }}"{% endif %}{% endif %}><span class="product-block-options__item__text">{{ variant.title }}</span></span>
                        {%- endfor -%}
                        {%- if real_product.variants.size > option_limit and is_swatch -%}
                          {%- assign remaining = real_product.variants.size | minus: option_limit -%}
                          <span class="product-block-options__more-label">{{ 'collections.general.more_swatches' | t: count: remaining }}</span>
                        {%- endif -%}
                      {%- else -%}
                        {%- assign product_option_position_0index = product_option.position | minus: 1 -%}
                        {%- for product_option_value in product_option.values -%}
                          {%- liquid
                            assign option_value_variant = false
                            assign is_unavailable = true
                            for variant in real_product.variants
                              if variant.options[product_option_position_0index] == product_option_value
                                assign option_value_variant = variant
                                break
                              endif
                            endfor
                            for variant in real_product.variants
                              if variant.available and variant.options[product_option_position_0index] == product_option_value
                                assign is_unavailable = false
                                break
                              endif
                            endfor
                          -%}
                          <span class="product-block-options__item{% if is_unavailable %} product-block-options__item--unavailable{% endif %}{% if forloop.index > option_limit and is_swatch %} product-block-options__item--truncated{% endif %}{% if is_swatch %} lazyload{% endif %}"
                            data-option-item="{{ product_option_value | downcase | escape }}"
                            {% if option_value_variant.featured_media %}data-media="{{ option_value_variant.featured_media.id }}"{% endif %}
                            {% if is_swatch %}{% if settings.swatch_images %}data-bgset="{{ product_option_value | handle | append: '.png' | file_img_url: '48x48', crop: 'center' }}"{% else %}style="background-color:{{ product_option_value | downcase | remove: ' ' | escape }}"{% endif %}{% endif %}><span class="product-block-options__item__text">{{ product_option_value }}</span></span>
                        {%- endfor -%}
                        {%- if product_option.values.size > option_limit and is_swatch -%}
                          {%- assign remaining = product_option.values.size | minus: option_limit -%}
                          <span class="product-block-options__more-label">{{ 'collections.general.more_swatches' | t: count: remaining }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}

            {%- if settings.enable_product_reviews_collection -%}
              <span class="shopify-product-reviews-badge" data-id="{{ product_id }}"></span>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- if settings.quickbuy_style != 'off' -%}
    {%- unless no_quick_buy_markup -%}
      <div class="quickbuy-container">
        <a href="#" class="close-detail" aria-label="{{ 'products.quick_buy.close' | t }}" tabindex="-1">{% render 'svg-x' %}</a>
        <div class="inner"></div>
      </div>
    {%- endunless -%}
  {%- endif -%}
</div>
