
                    <script type="text/javascript" src="https://dnuaqhs941n75.cloudfront.net/files/shopify/js/checkout_marketing_subscription_v2.js?ver=1643329864"></script>
                    <script>
                        smsbump_checkout_widget.init({
                            has_box: 1,
                            has_title: 1, 
                            checkbox_title: `Send me special offers through text`,
                            checkbox_label: `Sign Up To Receive Exclusive Offers, Hear About New Features + More!`,
                            consent_message : `By checking the sign-up box for text message offers and clicking Continue to shipping, I consent to receive recurring automated marketing text messages at the number provided, and I agree that texts may be sent using an auto dialer or other technology. 
By entering your phone number in the checkout and initializing a purchase, subscribing via our subscription form or a keyword, you agree that we may send you text notifications (for your order, including abandoned cart reminders) and text marketing offers. You acknowledge that consent is not a condition for any purchase.
Consent is not a condition of purchase. Message and Data rates may apply. For more information see <a href="https://www.shopthesoho.com/pages/terms-of-service" target=_new>Terms of Service</a> & <a href="https://www.shopthesoho.com/pages/privacy-policy" target=_new>Privacy Policy</a>`,
                            privacy_policy_text: `View Privacy Policy`,
                            privacy_policy_link: `https://www.shopthesoho.com/pages/privacy-policy`, 
                        });
                    </script>
                