<script>
  if(typeof(Spurit) === 'undefined'){
    var Spurit = {};
  }
  if(!Spurit.PopupUpsell2){
    Spurit.PopupUpsell2 = {};
  }
  if(!Spurit.PopupUpsell2.snippet){
    Spurit.PopupUpsell2.snippet = {};
  }
  Spurit.PopupUpsell2.snippet.shopHash = '132eb1a3748ac0ca2b6123bb2b26b378';
  Spurit.PopupUpsell2.snippet.cacheTimestamp = '1644966327';
  Spurit.PopupUpsell2.snippet.pageType = '{{ request.page_type }}';

  if(typeof(Spurit.globalSnippet) === 'undefined'){
      Spurit.globalSnippet = {
          shop_currency: '{{ shop.currency }}',
          money_format: '{{ shop.money_format }}',
          cart: {{ cart | json }},
          customer_id: '{{ customer.id }}'
      };
  }
</script>

<script src="https://cdn-spurit.com/all-apps/spurit.global-2.x.min.js" async></script>
<script src="https://cdn-spurit.com/shopify-apps/popup-upsell-2/store/132eb1a3748ac0ca2b6123bb2b26b378.js?1644966327" async></script>
<link href="https://cdn-spurit.com/shopify-apps/popup-upsell-2/store/132eb1a3748ac0ca2b6123bb2b26b378.css?1644966327" rel="stylesheet" type="text/css" media="all">

    <script src="https://cdn-spurit.com/shopify-apps/popup-upsell-2/common.js" async></script>
    <link href="https://cdn-spurit.com/shopify-apps/popup-upsell-2/common.css" rel="stylesheet" type="text/css" media="all">
