<div class="CollegePage-Container">
  {% comment %}
  <div class="CollegePage-ListContainer">
    {% if section.settings.list_title != blank %}
      <div class="CollegePage-ListTitle u-h5">
        {{ section.settings.list_title }}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="CollegePage-ListItemsContainer">
        {% for block in section.blocks %}
          {% if block.settings.title != blank and block.settings.url != blank %}
            <div class="CollegePage-ListItem">
              <a href="{{ block.settings.url }}" class="CollegePage-ListItemLink">{{ block.settings.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endcomment %}
  <div class="CollegePage-GridContainer">
    {% for block in section.blocks %}
      {% if block.settings.url != blank %}
        {% assign block_image = '' %}

        {% if block.settings.url.type == 'collection_link' %}
          {% assign block_image = block.settings.url.object.image %}
        {% elsif block.settings.url.type == 'product_link' %}
          {% assign block_image = block.settings.url.object.featured_image %}
        {% endif %}

        {% if block_image == blank %}
          {% if block.settings.image != blank %}
            {% assign block_image = block.settings.image %}
          {% endif %}
        {% endif %}

        {% if block_image != blank %}
          <div class="CollegePage-GridItem" {{ block.shopify_attributes }} {% comment %}style="--background: {{ block.settings.background_color }}"{% endcomment %}>
            <div class="CollegePage-GridItem__ImageWrapper">
              <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%">
                <img src="{{ block_image | img_url: '1024x1024' }}" alt="{{ block_image.alt | escape }}" class="rimage__image">
              </div>
              {% comment %}
                <img class="CollegePage-GridItem__Image Image--fadeIn Image--lazyLoad" src="{{ block_image | img_url: '1x1'}}" data-src="{{ block_image | img_url: 'master'}}">
              {% endcomment %}
            </div>

            {% if block.settings.title != blank %}
              <div class="CollegePage-GridItem__Title u-h5">
                {{ block.settings.title }}
              </div>
            {% endif %}

            {% if block.settings.url != blank %}
              <a href="{{ block.settings.url }}" class="CollegePage-GridItem__Link"></a>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    --list_title_color: {{ section.settings.list_title_color }};
    --list_item_color: {{ section.settings.list_item_color }};
    --team_name_color: {{ section.settings.team_name_color }};
  }
</style>

{% comment %}
  Deprecated section settings
  {
    "type":"textarea",
    "id":"list_title",
    "label":"List title",
    "default":"CHOOSE YOUR TEAM"
  }

  Deprecated block settings
  {
    "type":"color",
    "id":"background_color",
    "label":"Image background",
    "default":"#D0DAE6"
  }
{% endcomment %}

{% schema %}
  {
    "name":"College page",
    "class":"college-page-section",
    "settings":[
      {
        "type":"header",
        "content":"Colors"
      },
      {
        "type":"color",
        "id":"list_title_color",
        "label":"List title color",
        "default":"#000000"
      },
      {
        "type":"color",
        "id":"list_item_color",
        "label":"List item color",
        "default":"#000"
      },
      {
        "type":"color",
        "id":"team_name_color",
        "label":"Team name color",
        "default":"#000"
      }
    ],
    "blocks":[
      {
        "type":"team",
        "name":"Team",
        "settings":[
          {
            "type":"textarea",
            "id":"title",
            "label":"Team name",
            "default":"Team name"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image",
            "info":"Used as fallback, if link is not tied to a collection or product."
          },
          {
            "type":"url",
            "id":"url",
            "label":"Link"
          }
        ]
      }
    ]
  }
{% endschema %}
