{%- assign mobile_expand_with_entire_link = true -%}

{% style %}
  .logo img {
    width: {{ section.settings.logo_img_width_int }}px;
  }
  .logo-area__middle--logo-image {
    max-width: {{ section.settings.logo_img_width_int }}px;
  }
  @media (max-width: 767px) {
    .logo img {
      width: {{ section.settings.logo_img_width_int | at_most: 125 }}px;
    }
  }
  {%- if section.settings.enable_sticky -%}
  .section-header {
    position: -webkit-sticky;
    position: sticky;
  }
  {%- endif -%}
{% endstyle %}

{% if template == 'gift_card' %}

{% comment %} Gift card template logo {% endcomment %}
<meta itemprop="url" content="{{ shop.url }}">
<meta itemprop="name" content="{{ shop.name }}">
{% if section.settings.logo != blank %}
  <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
    {% capture img_size %}{{ section.settings.logo_img_width_int | times: 2 }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" />
  </h1>
{% else %}
  <h1>{{ shop.name }}</h1>
{% endif %}

{% else %}

{%- assign featured_links = section.settings.nav_featured_link | split: ', ' -%}
<div data-section-type="header" data-cc-animate>
  <div id="pageheader" class="pageheader pageheader--layout-{{ section.settings.menu_layout }}">
    {%- capture logo_html -%}
      <div class="logo">
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
          {%- if section.settings.logo != blank -%}
            {%- capture img_size -%}{{ section.settings.logo_img_width_int | times: 2 }}x{%- endcapture -%}
            <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" />
          {%- else -%}
            <span class="logotext">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
    {%- endcapture -%}

    <div class="logo-area container container--no-max">
      <div class="logo-area__left">
        <div class="logo-area__left__inner">
          <button class="button notabutton mobile-nav-toggle" aria-label="{{ 'general.navigation.menu_toggle_aria_label' | t | escape }}" aria-controls="main-nav">
            {% render 'svg-menu' %}
          </button>
          <a class="show-search-link" href="{{ routes.search_url }}">
            <span class="show-search-link__icon">
              {%- render 'svg-search' -%}
            </span>
            <span class="show-search-link__text">
              {{- 'layout.search.open' | t -}}
            </span>
          </a>
          {% if section.settings.menu_layout contains 'inline' %}
            <div class="navigation navigation--left" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
              <div class="navigation__tier-1-container">
                <ul class="navigation__tier-1">
                  {% for link in linklists[section.settings.menu_linklist].links %}
                    {%- assign has_dropdown = false -%}
                    {%- if link.links != blank -%}
                      {%- assign has_dropdown = true -%}
                    {%- else -%}
                      {%- for block in section.blocks -%}
                        {%- if block.settings.navigation_mega_menu == link.title -%}
                          {%- assign has_dropdown = true -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                    <li class="navigation__item{% if has_dropdown %} navigation__item--with-children{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}{% if link.active %} navigation__item--active{% endif %}">
                      <a href="{{ link.url }}" class="navigation__link" {% if has_dropdown %}aria-haspopup="true" aria-expanded="false" aria-controls="NavigationTier2-{{ forloop.index }}"{% endif %}>
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="logo-area__middle logo-area__middle--logo-{% if section.settings.logo != blank %}image{% else %}text{% endif %}">
        <div class="logo-area__middle__inner">
          {{- logo_html -}}
        </div>
      </div>

      <div class="logo-area__right">
        <div class="logo-area__right__inner">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a class="header-account-link" href="{{ routes.account_url }}" aria-label="{{ 'layout.customer.account' | t | escape }}">
                <span class="desktop-only">{{ 'layout.customer.account' | t | escape }}</span>
                <span class="mobile-only">{% render 'svg-user' %}</span>
              </a>
            {% else %}
              <a class="header-account-link" href="{{ routes.account_login_url }}" aria-label="{{ 'layout.customer.account' | t | escape }}">
                <span class="desktop-only">{{ 'layout.customer.account' | t | escape }}</span>
                <span class="mobile-only">{% render 'svg-user' %}</span>
              </a>
            {% endif %}
          {% endif %}
          <a class="show-search-link" href="{{ routes.search_url }}">
            <span class="show-search-link__text">
              {{- 'layout.search.open' | t -}}
            </span>
            <span class="show-search-link__icon">
              {%- render 'svg-search' -%}
            </span>
          </a>
          <a href="{{ routes.cart_url }}" class="cart-link">
            <span class="cart-link__label">{{ 'layout.header.cart' | t | escape }}</span>
            <span class="cart-link__icon">
              {%- render 'svg-cart' -%}
              {%- if cart.item_count > 0 -%}
                <span class="cart-link__count">{{ cart.item_count }}</span>
              {%- endif -%}
            </span>
          </a>
        </div>
      </div>
    </div>

    {%- liquid
      assign show_search_suggestions = false
      if section.settings.search_suggestions_title != blank or section.settings.search_suggestions_menu != blank
        assign show_search_suggestions = true
      endif
    -%}
    <div id="main-search" class="main-search {% if show_search_suggestions %}main-search--with-suggestions{% endif %}"
        data-live-search="{{ settings.enable_live_search }}"
        data-live-search-price="{{ settings.live_search_show_price }}"
        data-live-search-vendor="{{ settings.live_search_show_vendor }}"
        data-live-search-meta="{{ settings.live_search_search_meta }}"
        data-product-image-shape="{{ settings.prod_thumb_shape }}"
        data-show-sold-out-label="{{ settings.prod_sold_out_show }}"
        data-show-sale-label="{{ settings.prod_sale_show }}"
        data-show-reduction="{{ settings.prod_reduction_show }}"
        data-reduction-type="{{ settings.prod_reduction_type }}">

      <div class="main-search__container container">
        <button class="main-search__close button notabutton" aria-label="{{ 'layout.search.close' | t | escape }}">{% render 'svg-x' %}</button>

        <form class="main-search__form" action="{{ routes.search_url }}" method="get" autocomplete="off">
          <input type="hidden" name="type" value="{{ settings.search_type }}" />
          <input type="hidden" name="options[prefix]" value="last" />
          <div class="main-search__input-container">
            <input class="main-search__input" type="text" name="q" autocomplete="off" placeholder="{{ 'layout.search.placeholder' | t | escape }}" aria-label="{{ 'layout.search.title' | t | escape }}" />
          </div>
          <button class="main-search__button button notabutton" type="submit" aria-label="{{ 'layout.header.search_submit' | t }}">{% render 'svg-search' %}</button>
        </form>

        <div class="main-search__results"></div>

        {% if show_search_suggestions %}
          <div class="main-search__suggestions">
            {% if section.settings.search_suggestions_title != blank %}
              <div class="h4-style heading-font">{{ section.settings.search_suggestions_title }}</div>
            {% endif %}
            {% if section.settings.search_suggestions_menu != blank %}
              {%- assign suggestions_menu = linklists[section.settings.search_suggestions_menu] -%}
              <div class="search-suggestions">
                <div class="search-suggestions__item-row">
                  {% for link in suggestions_menu.links %}
                    {% if link.links != blank %}
                      <div class="search-suggestions__item search-suggestions__item--with-row">
                        <div class="search-suggestions__heading h5-style heading-font"><a href="{{ link.url }}">{{ link.title }}</a></div>
                        <div class="search-suggestions__item-row">
                          {% for child_link in link.links %}
                            <div class="search-suggestions__item">
                              {% if child_link.type == 'collection_link' %}
                                {% render 'collection-block', collection: child_link.object %}
                              {% elsif child_link.type == 'product_link' %}
                                {% render 'product-block', product: child_link.object %}
                              {% else %}
                                <a class="search-suggestions__link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                              {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% else %}
                      <div class="search-suggestions__item">
                        {% if link.type == 'collection_link' %}
                          {% render 'collection-block', collection: link.object %}
                        {% elsif link.type == 'product_link' %}
                          {% render 'product-block', product: link.object %}
                        {% else %}
                          <a class="search-suggestions__link" href="{{ link.url }}">{{ link.title }}</a>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="main-nav" class="desktop-only">
    <div class="navigation navigation--main"
        role="navigation"
        aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}"
        data-mobile-expand-with-entire-link="{{ mobile_expand_with_entire_link }}">
      <div class="navigation__tier-1-container">
        <div class="mobile-only-flex navigation__mobile-header">
          <a href="#" class="mobile-nav-back">{% render 'svg-chevron-left', stroke_width: 1.3 %}</a>
          <span class="mobile-nav-title"></span>
          <a href="#" class="mobile-nav-toggle">{% render 'svg-x', stroke_width: 1.3 %}</a>
        </div>
        <ul class="navigation__tier-1">
          {% for link in linklists[section.settings.menu_linklist].links %}
            {%- liquid
              assign has_dropdown = false
              if link.links != blank
                assign has_dropdown = true
              endif
              assign use_columns = false
              if link.levels >= 2
                assign use_columns = true
              else
                for block in section.blocks
                  if block.settings.navigation_mega_menu == link.title
                    assign use_columns = true
                    assign has_dropdown = true
                  endif
                endfor
              endif
            -%}

            {%- assign promo_count = 0 -%}

            {% assign use_college_style = false %}

            {% assign menu_img = null %}

            {% assign col = null %}

            {%- capture menu_promotion_html -%}
              {%- for block in section.blocks -%}
                {%- if block.settings.navigation_mega_menu == link.title -%}

                  {%- assign promo_count = promo_count | plus: 1 -%}

                  {% assign col = block.settings.amount_of_columns %}

                  {% if block.settings.menu_item_image != blank %}
                    {% assign menu_img = block.settings.menu_item_image %}
                  {% endif %}

                  {% if block.settings.use_college_style %}
                    {% assign use_college_style = true %}
                  {% endif %}
                  
                  {% if block.settings.push_1_image != blank %}
                    <li class="navigation__column navigation__item navigation__column-promotion">
                      <div class="menu-promotion">
                        {%- if block.settings.push_1_url != blank -%}
                          <a class="menu-promotion__link" href="{{ block.settings.push_1_url }}">
                        {%- endif -%}
                        <div class="menu-promotion__image">
                          {%- render 'responsive-image', image: block.settings.push_1_image -%}
                        </div>
                        {%- if block.settings.push_1_heading != blank -%}
                          <div class="menu-promotion__text">{{ block.settings.push_1_heading }}</div>
                        {%- endif -%}
                        {%- if block.settings.push_1_url != blank -%}
                          </a>
                        {%- endif -%}
                      </div>
                    </li>
                  {% endif %}
                  {% if block.settings.push_2_image != blank %}
                    <li class="navigation__column navigation__item navigation__column-promotion">
                      <div class="menu-promotion">
                        {%- if block.settings.push_2_url != blank -%}
                          <a class="menu-promotion__link" href="{{ block.settings.push_2_url }}">
                        {%- endif -%}
                        <div class="menu-promotion__image">
                          {%- render 'responsive-image', image: block.settings.push_2_image -%}
                        </div>
                        {%- if block.settings.push_2_heading != blank -%}
                          <div class="menu-promotion__text">{{ block.settings.push_2_heading }}</div>
                        {%- endif -%}
                        {%- if block.settings.push_2_url != blank -%}
                          </a>
                        {%- endif -%}
                      </div>
                    </li>
                  {% endif %}

                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
            
            {%- assign column_count = promo_count | plus: link.links.size -%}

            <li class="navigation__item{% if menu_img != blank %} navigation__item-image-title{% endif %}{% if has_dropdown %} navigation__item--with-children{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}{% if link.active %} navigation__item--active{% endif %}">
              <a href="{{ link.url }}" class="navigation__link" {% if has_dropdown %}aria-haspopup="true" aria-expanded="false" aria-controls="NavigationTier2-{{ forloop.index }}"{% endif %}>
                {% if menu_img != null %}
                  {%- render 'responsive-image', image: menu_img, wrapper_class: 'hide--mobile' -%}
                  <span class="hide--desktop">{{ link.title }}</span>
                {% else %}
                  {{- link.title -}}
                {% endif %}
              </a>

              {% if has_dropdown %}
                <a class="navigation__children-toggle" href="#">{% render 'icon-toggle-menu', stroke_width: 1.3 %}</a>

                <div id="NavigationTier2-{{ forloop.index }}" class="navigation__tier-2-container navigation__child-tier">
                  {% if use_college_style %}
                    <ul class="navigation__tier-2 navigation__grid {% if use_columns %} navigation__columns navigation__columns--count-{{ column_count }}{% if column_count > 5 %} navigation__columns--wraps{% endif %}{% endif %}"{% if col != null %} style="column-count:{{ col }};"{% endif %}>
                      {% for child_link in link.links %}
                        {% assign link_handle = child_link.title | handle %}
                        {% unless link_handle contains 'shop-all' %}
                          <li class="navigation__item">
                            <a href="{{ child_link.url }}">
                              <div class="Linklist__Item--Image-Wrapper">
                                {% if child_link.object.image != blank %}
                                  {%- render 'responsive-image', image: child_link.object.image -%}
                                {% endif %}
                              </div>
                              <span>{{ child_link.title | escape }}</span>
                            </a>
                          </li>  
                        {% endunless %}
                      {% endfor %}
                    </ul>
                  {% else %}
                    <ul class="navigation__tier-2{% if use_columns %} navigation__columns navigation__columns--count-{{ column_count }}{% if column_count > 5 %} navigation__columns--wraps{% endif %}{% endif %}">
                      {% assign is_empty_link = false %}
                      {% for child_link in link.links %}
                        {% if child_link.link == blank %}
                          {% assign is_empty_link = true %}
                        {% endif %}
                      {% endfor %}

                      {% if is_empty_link %}
                        <li class="navigation__item navigation-titles">
                          {% for child_link in link.links %}
                            {% if child_link.links == blank %}
                                <a class="navigation__link navigation__column-title" href="{{ child_link.url }}">{{ child_link.title }}</a>
                            {% endif %}
                          {% endfor %}
                        </li>
                    {% endif %}

                      {% for child_link in link.links %}
                        {% if child_link.links != blank %}
                          <li class="navigation__item{% if child_link.links != blank %} navigation__item--with-children{% endif %}{% if use_columns %} navigation__column{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                            <a href="{{ child_link.url }}" class="navigation__link{% if child_link.links != blank %} navigation__column-title{% endif %}" {% if child_link.links != blank %}aria-haspopup="true" aria-expanded="false"{% endif %}>
                              {{- child_link.title -}}
                            </a>
                            {% if child_link.links != blank %}
                              <a class="navigation__children-toggle" href="#">{% render 'icon-toggle-menu', stroke_width: 1.3 %}</a>
                            {% endif %}

                            {% if child_link.links != blank %}
                              <div class="navigation__tier-3-container navigation__child-tier">
                                <ul class="navigation__tier-3">
                                  {% for child_child_link in child_link.links %}
                                  <li class="navigation__item{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                                    <a class="navigation__link" href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                                  </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            {% endif %}
                          </li>
                        {% endif %}
                      {% endfor %}

                      {%- if promo_count > 0 -%}
                        {{ menu_promotion_html }}
                        {% comment %} 
                          <li class="navigation__column navigation__column--promotion navigation__column--promotion-count-{{ promo_count }}">
                          </li>
                        {% endcomment %}
                      {%- endif -%}
                    </ul>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if section.settings.nav_mob_products_collection != blank %}
          <div class="mobile-only navigation__mobile-products">
            <div class="navigation__mobile-products-title">{{ section.settings.nav_mob_products_title | escape }}</div>
            <div class="product-list product-list--scrollarea">
              {% for product in collections[section.settings.nav_mob_products_collection].products limit: 10 %}
                {% render 'product-block', product: product, no_swiping: true, no_quick_buy_markup: true %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <a href="#" class="header-shade mobile-nav-toggle" aria-label="{{ 'general.navigation_menu.toggle_aria_label' }}"></a>
</div>

{%- if section.settings.menu_layout contains 'inline' -%}
<script id="InlineNavigationCheckScript">
  theme.inlineNavigationCheck = function() {
    var pageHeader = document.querySelector('.pageheader'),
        inlineNavContainer = pageHeader.querySelector('.logo-area__left__inner'),
        inlineNav = inlineNavContainer.querySelector('.navigation--left');
    if (inlineNav && getComputedStyle(inlineNav).display != 'none') {
      var inlineMenuCentered = document.querySelector('.pageheader--layout-inline-menu-center'),
          logoContainer = document.querySelector('.logo-area__middle__inner');
      if(inlineMenuCentered) {
        var rightWidth = document.querySelector('.logo-area__right__inner').clientWidth,
            middleWidth = logoContainer.clientWidth,
            logoArea = document.querySelector('.logo-area'),
            computedLogoAreaStyle = getComputedStyle(logoArea),
            logoAreaInnerWidth = logoArea.clientWidth - Math.ceil(parseFloat(computedLogoAreaStyle.paddingLeft)) - Math.ceil(parseFloat(computedLogoAreaStyle.paddingRight)),
            availableNavWidth = logoAreaInnerWidth - Math.max(rightWidth, middleWidth) * 2 - 40;
        inlineNavContainer.style.maxWidth = availableNavWidth + 'px';
      }

      var lastInlineNavLink = inlineNav.querySelector('.navigation__item:last-child');
      if (lastInlineNavLink) {
        var inlineNavWidth = lastInlineNavLink.offsetLeft + lastInlineNavLink.offsetWidth;
        if (inlineNavContainer.offsetWidth >= inlineNavWidth) {
          pageHeader.classList.add('pageheader--layout-inline-permitted');
          var tallLogo = logoContainer.clientHeight > lastInlineNavLink.clientHeight + 1;
          if (tallLogo) {
            inlineNav.classList.add('navigation--tight-underline');
          } else {
            inlineNav.classList.remove('navigation--tight-underline');
          }
        } else {
          pageHeader.classList.remove('pageheader--layout-inline-permitted');
        }
      }
    }
  }
  theme.inlineNavigationCheck();
</script>
{%- endif -%}

{% endif %}

<div class="team_popup">
  <div class="first_head_box">
    <p class="popup_header">Select a Team</p>
    <button class="popup_close"><span class="cross_icon_team">+</span></button>
  </div>
  <div class="team_navbar_list">
    <ul class="nav_list_team">
      <li class="team_item active" data-target=".nfl_team">A-D</li>
      <li class="team_item" data-target=".ncaa_team">E-I</li>
      <li class="team_item" data-target=".mlb_team">J-M</li>
      <li class="team_item" data-target=".nba_team">N-P</li>
      <li class="team_item" data-target=".nhl_team">Q-T</li>
      <li class="team_item" data-target=".nascar_team">U-Z</li>
      <!--li class="team_item" data-target=".soccer_team">SOCCER</li-->
    </ul>
  </div>
  <div class="container-fluid pro-type">
      <div class="pro-display">
        <div class="row typename">
          {% for product_type in shop.types %} 
          {% if forloop.index < 5 %}  {% continue %} {%  endif %}
          {% if product_type contains 'KIDS' %}  {% continue %} {%  endif %}
          {% assign pname = product_type | downcase %}
          {%- assign color_swatch_name = pname | handle | append: '.png' -%}
      	  {%- assign color_swatch_image = images[color_swatch_name] -%}
          {% assign first_letter = pname | slice: 0 %}
          {% if first_letter <= 'd' %}
          	{% assign class = 'nfl_team' %}
          {% elsif first_letter <= 'i' %}
          	{% assign class = 'ncaa_team' %}
          {% elsif first_letter <= 'm' %}
          	{% assign class = 'mlb_team' %}
          {% elsif first_letter <= 'p' %}
          	{% assign class = 'nba_team' %}
          {% elsif first_letter <= 't' %}
          	{% assign class = 'nhl_team' %}
          {% elsif first_letter <= 'z' %}
          	{% assign class = 'nascar_team' %}
          {% else %}
          	{% assign class = 'soccer_team' %}
          {% endif %}
          <div class="col-md-2 type_img {{ class }}" data-image="{{ color_swatch_name }}">                       
            <a href="/collections/{{ product_type | downcase | replace: ' ', '-' | replace: '&', '-' }}"><img src="{{ color_swatch_image | img_url:'50x60' }}"><span>{{ product_type }}</span></a>
          </div>               
          {% endfor %}  
{% comment %}
            {% for nfl in shop.metafields.nfl %}
            	{{ nfl | last }}
            {% endfor %}
{% endcomment %}
          <!--div class="load"><a href="#" id="loadMore">Load More</a></div-->
        </div>
      </div>
    </div>
  </div>
{% comment %}
<div class="team_popup">
  <div class="first_head_box">
    <p class="popup_header">Select a Team</p>
    <button class="popup_close"><span class="cross_icon_team">+</span></button>
  </div>
  <div class="team_navbar_list">
    <ul class="nav_list_team">
      <li class="team_item active_1" data-target=".nfl_team">NFL</li>
      <li class="team_item active_2" data-target=".ncaa_team">NCAA</li>
      <li class="team_item active_3" data-target=".mlb_team">MLB</li>
      <li class="team_item active_4" data-target=".nba_team">NBA</li>
      <li class="team_item active_5" data-target=".nhl_team">NHL</li>
      <li class="team_item active_6" data-target=".nascar_team">NASCAR</li>
      <li class="team_item active_7" data-target=".soccer_team">SOCCER</li>
    </ul>
  </div>
  <div class="container-fluid pro-type">
    <div class="pro-display">
      <div class="tab_team nfl_team row active">
        {% for nfl in shop.metafields.nfl %}
        	{{ nfl | last }}
        {% endfor %}
      </div>
      <div class="tab_team ncaa_team row">
        {% for ncaa in shop.metafields.ncaa %}
        	{{ ncaa | last }}
        {% endfor %}
      </div>
      <div class="tab_team mlb_team row">
        {% for mlb in shop.metafields.mlb %}
        	{{ mlb | last }}
        {% endfor %}
      </div>
      <div class="tab_team nba_team row">
        {% for nba in shop.metafields.nba %}
        	{{ nba | last }}
        {% endfor %}
      </div>
      <div class="tab_team nhl_team row">
        {% for nhl in shop.metafields.nhl %}
        	{{ nhl | last }}
        {% endfor %}
      </div>
      <div class="tab_team nascar_team row">
        {% for nascar in shop.metafields.nascar %}
        	{{ nascar | last }}
        {% endfor %}
      </div>
      <div class="tab_team soccer_team row">
        {% for soccer in shop.metafields.soccer %}
        	{{ soccer | last }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endcomment %}
{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "520 x 200px (recommended)"
      },
      {
        "type": "range",
        "id": "logo_img_width_int",
        "min": 30,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "checkbox",
        "id": "enable_sticky",
        "label": "Enable sticky header",
        "default": false
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "menu_layout",
        "label": "Menu alignment",
        "info": "Alignment will switch to 'Underneath' if the links do not fit beside the logo",
        "options": [
          {
            "value": "inline-menu-left",
            "label": "Left"
          },
          {
            "value": "inline-menu-center",
            "label": "Center"
          },
          {
            "value": "underneath",
            "label": "Underneath"
          }
        ],
        "default": "underneath"
      },
      {
        "type": "text",
        "id": "nav_featured_link",
        "label": "Featured link",
        "info": "Enter the title of a link to highlight it in a different color",
        "default": "Sale"
      },
      {
        "type": "header",
        "content": "Mobile featured products",
        "info": "Shown in the mobile menu"
      },
      {
        "type": "text",
        "id": "nav_mob_products_title",
        "label": "Title",
        "default": "Best Sellers"
      },
      {
        "type": "collection",
        "id": "nav_mob_products_collection",
        "label": "Collection"
      },
      {
        "type": "header",
        "content": "Search",
        "info": "These show before search terms are entered"
      },
      {
        "type": "text",
        "id": "search_suggestions_title",
        "label": "Suggestions title"
      },
      {
        "type": "link_list",
        "id": "search_suggestions_menu",
        "label": "Suggestions menu",
        "info": "Dropdown menus will show as separate rows. Links to collections and products will show images."
      }
    ],
    "blocks": [
      {
        "type": "mega_menu",
        "name": "Mega menu",
        "settings": [
          {
            "type": "text",
            "id": "navigation_mega_menu",
            "label": "Menu item",
            "info": "Enter menu item to apply a mega menu dropdown. [Learn more](http://support.maestrooo.com/article/149-navigation-enabling-and-configuring-mega-menu)."
          },
          {
            "type":"image_picker",
            "id":"menu_item_image",
            "label":"Menu item image",
            "info":"If selected, menu item text will be replaced with selected image."
          },
          {
            "type":"checkbox",
            "id":"use_college_style",
            "label":"Use college style nav?",
            "default":false,
            "info":"This style doesn't show any images and 3rd level of links.But shows images of objects tied to links."
          },
          {
            "type":"range",
            "id":"amount_of_columns",
            "label":"Amount of columns",
            "default":5,
            "min":1,
            "max":10,
            "step":1,
            "info":"Only works with College style nav"
          },
          {
            "type":"checkbox",
            "id":"split_into_two_columns",
            "label":"Split menu into two columns?",
            "default":false,
            "info":"Only works for menu without 2nd level links and regular style nav."
          },
          {
            "type": "header",
            "content": "Image push 1"
          },
          {
            "type": "image_picker",
            "id": "push_1_image",
            "label": "Image",
            "info": "740 x 460 px .jpg recommended"
          },
          {
            "type": "text",
            "id": "push_1_heading",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "url",
            "id": "push_1_url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Image push 2"
          },
          {
            "type": "image_picker",
            "id": "push_2_image",
            "label": "Image",
            "info": "740 x 460 px .jpg recommended"
          },
          {
            "type": "text",
            "id": "push_2_heading",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "type": "url",
            "id": "push_2_url",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
