{% comment %}

<div class="swell-Gameday">
  <section class="swell-referral-widget">
    <div class="swell-container">
      <div class="swell-refer-image-holder swell-mobile">
        <img src="{{'swell-referral-mob.jpg' | asset_url}}">
      </div>
      <div class="yotpo-widget-instance" data-yotpo-instance-id="1397" customer-email-view-input-placeholder='Enter email'
      customer-email-view-label-text='Enter your email below to get started'
      referral-views-friends-input-placeholder="Your friends' emails (separated by commas)"
      referral-email-view-label-text="Now, Enter your friends' emails."
      share-copy-link-text="Copy Link"
      share-link-copied-text="Copied"
      share-facebook-button-text="Share"
      share-facebook-messenger-button-text="Message"
      share-twitter-button-text="Tweet"></div>
    </div>
  </section>
</div>

{% endcomment %}