/*********************** Custom CSS for Boost Filter & Search  ************************/
{% assign breakpointMobile = '767px' %}
{% assign breakpointDesktop = '768px' %}
{% assign searchBoxMobileHeight = '64px' %}

/**************************** Place your custom css below  ****************************/
.boost-pfs-filter-tree {
  width: 20%;
  padding-right: 60px;
  align-self: flex-start;
}
.template-collection .boost-pfs-filter-option-team {
    display: none !important;
}
.collection-listing {
  line-height: normal;
}

.collection-listing-stream .product-block:first-child .product-detail {
  padding-top: 0;
}

.boost-pfs-filter-option-block .boost-pfs-filter-block-content ul li a {
  line-height: 22px !important;
}

.boost-pfs-filter-selection-wrapper .boost-pfs-filter-selected-items .selected-item {
  line-height: 25px;
}

.boost-pfs-filter-products .inner .vendor {
  margin-bottom: 0;
}

.boost-pfs-filter-tree-mobile {
  margin: 0 3%;
}

.pagination__current {
  margin: 0 20px;
}

.product-detail .gallery {
  z-index: 99;
}

.boost-pfs-filter-top-sorting select {
  margin: 0;
  height: 3.3em;
  padding: 0 4.5em 0 1em;
  font-size: inherit;
  border: 1px solid #e2e3e3;
  background-color: #f2f2f2;
  color: #8a8f93;
  width: 100%;
  -webkit-appearance: none;
}

.boost-pfs-in-collection-search svg {
  width: 15px; 
  height: 16px;
}

@media screen and (min-width: 1160px) {
  .boost-pfs-filter-top-sorting {
    max-width: 250px;
  }
}
@media screen and (min-width: 1025px) {
  .boost-pfs-filter-top-sorting {
    float: right;
  }
}
@media screen and (min-width: {{breakpointDesktop}}) {
  .collection-template .collection-listing .product-list, .collection-template .collection-listing-stream .product-list {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  .product-detail {
    z-index: 1;
  }
}
@media screen and (max-width: {{breakpointMobile}}) {
  .boost-pfs-filter-tree {
    display: none;
    width: 100%;
    float: none;
    margin: 0 3%;
  }
  .utility-bar__left .toggle-btn {
  	display: none;
  }

  .boost-pfs-filter-products {
    width: auto;
    float: none;
  }

  .boost-pfs-filter-top-sorting label {
    display: none;
  }

  .page-header .filters .tags.sort select {
    width: auto;
    padding-right: 15px;
  }
}
.search-form .results-box {
  display: none;
}

.quickbuy-container {
  z-index: 1;
}

.pagination {
  text-align: center;
  margin-top: 30px;
}

.boost-pfs-filter-option-view-more-action button, .boost-pfs-filter-option-view-less-action button {
  color: initial;
}

/**** Custom Search result toolbar ****/
.boost-pfs-search-result-toolbar {
  display: flex;
  align-items: center;
  margin: 35px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  white-space: nowrap;
}
.boost-pfs-search-result-toolbar .boost-pfs-search-result-item:first-child {
  flex: auto;
}
.boost-pfs-search-result-toolbar .boost-pfs-search-result-panel-controls {
  padding: 17px 0;
  margin: 0;
}
.boost-pfs-search-result-toolbar .boost-pfs-search-result-panel-controls li button {
  color: #000;
}
@media (max-width: {{breakpointMobile}}) {
  .boost-pfs-search-result-toolbar .boost-pfs-search-total-result {
    display: none;
  }
}

.filter-container--show-filters-mobile .boost-pfs-filter-tree {
	display: none;
}