/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.hdxfhd { display: block; margin-right: 10px; float: left; }
.hdxfhd[contenteditable="true"] { user-select: text; }
.hdxfhd { vertical-align: baseline; word-break: break-word; }
.hdxfhd:focus { outline: none; }
.hdxfhd::after { display: inline; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.hHSLcU > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable]:empty::after { display: inline; }
.hHSLcU ol, .hHSLcU ul { list-style-position: inside; }
.hHSLcU blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.aSzRR.edit { text-align: center; }
.aSzRR.edit p { margin: 10px 0px 0px; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-0ad48552 {
		font-weight: 500;
		 font-size: 62px;
		 margin-bottom: -10px;
		 font-family: "Cormorant Garamond";
	}
	.__pf .pf-475feccd {
		font-size: 18px;
	}
	.__pf .pf-ac7629ae {
		background-color: rgb(206, 195, 175);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 3px;
		 font-size: 16px;
		 padding: 15px 30px;
		 font-family: Montserrat;
		 letter-spacing: 2px;
		 text-transform: initial;
		 font-weight: 400;
	}
	.__pf .pf-ac7629ae:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-29ae48ca {
		text-align: center;
	}
	.__pf .pf-48cad6e8 {
		min-height: 1px;
	}
	.__pf .pf-4883e53b {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/1644/8651/t/253/assets/pf-e53ba4ee--BLOG-HERO-1.png?v=1613761134");
	}
	.__pf .pf-195d658f {
		font-size: 80px;
		 line-height: 70px;
		 font-family: Barlow;
		 font-weight: 600;
	}
	.__pf .pf-c0963c16 {
		font-family: Barlow;
		 font-size: 15px;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-e586bc1e {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-cf1d6a49 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-22191df7 {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-1ecc34ce {
		width: auto;
		 height: auto;
	}
	.__pf .pf-5dcf2d16 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-e9169c19 {
		font-family: Barlow;
		 font-size: 15px;
		 line-height: 1.6em;
	}
	.__pf .pf-71d83812 {
		background-color: rgb(206, 195, 175);
		 color: rgb(255, 255, 255);
		 text-align: center;
		 display: block;
		 font-family: Montserrat;
		 font-size: 16px;
		 letter-spacing: 2px;
	}
	.__pf .pf-3877b41c {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-444477a4 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-ee15de99 {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-b1022924 {
		width: auto;
		 height: auto;
	}
	.__pf .pf-fe1507f4 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-34944841 {
		font-family: Barlow;
		 line-height: 1.6em;
	}
	.__pf .pf-9710fe2d {
		background-color: rgb(206, 195, 175);
		 color: rgb(255, 255, 255);
		 text-align: center;
		 display: block;
		 font-family: Montserrat;
		 font-size: 16px;
		 letter-spacing: 2px;
	}
	.__pf .pf-dacd917e {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-9e04888a {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-64d4fafe {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-cebc9bbb {
		width: auto;
		 height: auto;
	}
	.__pf .pf-b7c263e2 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-576c6727 {
		font-family: Barlow;
		 line-height: 1.6em;
	}
	.__pf .pf-931c5e9d {
		background-color: rgb(206, 195, 175);
		 color: rgb(255, 255, 255);
		 text-align: center;
		 display: block;
		 font-family: Montserrat;
		 font-size: 16px;
		 letter-spacing: 2px;
	}
	.__pf .pf-dadd1ebb {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-1ff9b5f4 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-97f79a19 {
		text-align: center;
		 font-family: "Cormorant Garamond";
		 font-weight: 700;
		 font-size: 25px;
	}
	.__pf .pf-c40b8e41 {
		width: auto;
		 height: auto;
	}
	.__pf .pf-deda0208 {
		text-align: right;
		 font-family: "Cormorant Garamond";
		 font-size: 17px;
		 text-transform: initial;
		 font-style: italic;
		 margin-top: -1px;
	}
	.__pf .pf-1360d86f {
		font-family: Barlow;
		 line-height: 1.6em;
	}
	.__pf .pf-a5f44fbe {
		background-color: rgb(206, 195, 175);
		 color: rgb(255, 255, 255);
		 text-align: center;
		 display: block;
		 font-family: Montserrat;
		 font-size: 16px;
		 letter-spacing: 2px;
	}
	.__pf .pf-5a8abe18 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-be189a53 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-a23b2213 {
		font-size: 24px;
		 font-family: Montserrat;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
		 letter-spacing: 1px;
	}
	.__pf .pf-22134b98 .blog__infos > h3 > a {
		font-family: "Cormorant Garamond";
		 font-size: 18px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-22134b98 > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-b3ac2b8b {
		background-color: rgb(248, 248, 248);
		 padding-top: 65px;
		 padding-bottom: 65px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-0ad48552 {
		color: rgb(0, 0, 0);
	}
	.__pf .pf-4883e53b {
		background-image: url("https://cdn.shopify.com/s/files/1/1644/8651/t/253/assets/pf-2ef2ff05--blog-1.png?v=1614015504&selected");
	}
	.__pf .pf-5a8abe18 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-be189a53 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-b3ac2b8b {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-5a8abe18 {
		padding-left: 50px;
		 padding-right: 50px;
	}
}
						