.new_p {
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 0 8%;
      margin: 0 auto;
  }.newd_p {
    position: absolute;
    left: 50%;
    top: 50%;
}.productsetdiv .drag{
  background-image:none!important;
}a.prodlink {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
}
.productsetdiv img{
  display:block;
  width:100%;
  height:100%;
  object-fit:contain;
}
.productsetdiv {
    width:100%;
    position:relative;
    overflow:hidden;
}
.productinner {
  position:relative;
  width:100%;overflow:hidden;
    height :820px;
border:1px solid #eee;
background:#fff;
  cursor:pointer;
}
.productsetdiv h1 {
    text-align: left;
    text-transform: capitalize;
}
.wrapper {
      width: 100%;
      max-width: 100%;
  }
    .custom_head h1 {
        text-transform: capitalize;
    }.custom_head p {
        width: 90%;
        margin: 0 auto;
    }
.custom_collection{
      list-style-type:none;margin:0;padding:0;
    }
    .custom_collection a{
      text-decoration:none;
    }
  .custom_head {
              text-align: center;
            margin:0 auto 2%;
  }
.custom_title {
              font-size: 45px;
              text-align: center;
}.custom_description {
              text-align: center;
              font-size: 20px;
              width: 80%;
              margin: 0 auto;
          }
 .custom_collection li img {
              width: 100%;
          }
 .product_image{
                  display:block;
                }
            
.iconN:before {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        font-size: 14px;
        content: '+';
        line-height: 1;
        font-weight: normal;
        width: 28px;
        height: 28px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        color: #fff;
    }
    .iconN {
      width: 28px;
      height: 28px;
      padding: 4px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      -moz-transition: padding 0.2s linear;
      -o-transition: padding 0.2s linear;
      -webkit-transition: padding 0.2s linear;
      transition: padding 0.2s linear;
      top: 50%;
      transform: translate(-50%,-50%);
      left: 50%;
      cursor: pointer;
          }
           .iconN:after {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 100%;
                  top: attr(data-style-top);
                  background-color: #c08a84;
                  border-radius: 50%;
                  -moz-transition: background-color 0.2s linear;
                  -o-transition: background-color 0.2s linear;
                  -webkit-transition: background-color 0.2s linear;
                  transition: background-color 0.2s linear;
              }
              .pop_up_content{
                  display:none;
              }
           .productinner:hover .pop_up_content {
             cursor:pointer;
             width:150px;
    display: block;
    position: absolute;
    background-color: #fff;
    z-index: 9;
    padding: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.productinner:hover .iconN:before{
                  -webkit-transform: scale(0);
                  -moz-transform: scale(0);
                  -ms-transform: scale(0);
                  -o-transform: scale(0);
                  transform: scale(0);
                }
                .productinner:hover .iconN:after{
                  background-color: #191919;
                }
                  .product_image h3{
                   font-size:13px;
                    text-transform:capitalize;
                    margin:4% 0;
                    
                  }
 .product_image h4 {
      display: block;
      margin: 2% 0;
      font-size: 14px;
  }
.image_con h4 {
  margin-bottom: 0;
 }  
.image_con .product-form__variants{
display:block;    
 background: #eee;
border: 1px solid #ddd;
padding: 4px 27px 4px 10px;
 }
    
    .drag{  
background-size: cover !important;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0;
    }
.custom-collection {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
 .drag{
   width:200px;
   height:200px;
 }
.mobile_show{
  display:none;
}
.newd_p{
  display:none;
}  
.productinner  .newd_p{
  display:block;
}    
.productinner:hover .pop_up_content{
  display:block;
}  
@media(max-width:1024px){
  .custom-collection {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}
}
  @media(max-width:768px){
    .custom_6 .drag:nth-child(3) {
      grid-column: 1/3;
  }.custom_7 .drag:first-child {
    grid-column: 1/3;
  }
     .custom-collection {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
}.newd_p {
  position: unset;
  left: auto;
  top: auto;
  transform: unset!important;
}

   .custom_collection h3, .custom_collection h4, .custom_collection a {
      color: #000;
  }
 .pop_up_content:before{
          width: 0; 
          content:'';
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position:absolute;
          top:-5px;
          left:45%;
         border-bottom: 5px solid black;
        }
       .productsetdiv {
    width: 90%;
    margin: 0 auto;height:auto;
}.productinner {
    width: auto;
    height: auto;
  display:grid;
    border: 1px solid #eee;
}

    .new_p {
    max-width: 95.83%!important;
}

.drag {
  background-image: none!important;
}
.drag img {
  display: block;
  object-fit: fill;
}
.custom_5 {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: unset;
}.custom_5 .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column: 1/3;
}.customset .drag:nth-child(5) {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column: 0/6;
}.customset .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column: 1/3;
}.custom_7 {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: unset;
}
.custom_6 {
  grid-template-columns: repeat(2,1fr);
}
.custom_6 .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
}.custom_6 .drag:nth-child(5) {
  grid-row-start: auto;
  grid-row-end: auto;
}
.custom_3 {
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
}
.custom_3 .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column: 1/3;
}.custom_6 .drag:nth-child(4) {
  grid-column: 1/3;
}
.custom_2{
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: auto;
}
.custom_2 .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
}
.custom_4{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
}
.custom_4 .drag:first-child {
  grid-row-start: auto;
  grid-row-end: auto;
}.custom_4 .drag:nth-child(4) {
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column: unset;
}
    .drag {
    background-size: cover !important;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0;
    width: auto!important;
    height: auto!important;
      left:auto!important;
      right:auto!Important;
      bottom:auto!important;
      transform:unset!important;
      top:auto!important;
      position:relative!Important;
}
}
  @media(max-width:650px){
    .new_p {
    max-width: 71.83%;
    }
  }
  @media (min-width: 541px){
  .new_p {
    max-width: 71.83%;
  }
   
  }
  @media (min-width: 778px){
  .new_p {
      max-width: 740px;
        padding: 0px 2%;
  }
  }
  @media (min-width: 1025px){
  .new_p {
      max-width: 980px;
  }
  }
  @media (min-width: 1260px){
  .new_p {
      max-width: 1200px;
  }
  }
  