<style type="text/css">

	.yotpo-custom-div > div > div{
     max-width: 100% !important;
      padding: 0px 0px !important;
    }

</style>

{% comment %}
<div class="yotpo-custom-div">

	{% section 'smsbump_subscription_form_embed_38683' %}

</div>
{% endcomment %}